guideme/n8n/GuideMe Knowledge Base.json
{
  "name": "knowlwdge",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        288
      ],
      "id": "1672231b-611e-4e10-9fe8-40d4d15f7444",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1AbQj9UkLnUAIQix01sZSmOLJu2lVBb_a",
            "mode": "list",
            "cachedResultName": "agent",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1AbQj9UkLnUAIQix01sZSmOLJu2lVBb_a"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        272,
        288
      ],
      "id": "3819046f-ab3a-4a47-afc5-906cfa9f7d52",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dzIYjs3o3FFR3GLA",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        448,
        288
      ],
      "id": "b7131f96-bf40-45bb-bc0b-2d66ebc91a70",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dzIYjs3o3FFR3GLA",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "description": "Returns documents related to the Holland RIASEC personality model and the Saudi Digital Skills Framework. The data includes explanations of the six Holland personality types (Realistic, Investigative, Artistic, Social, Enterprising, and Conventional), descriptions of personality traits and interests, and information about digital job families, roles, and required skills in the Saudi digital sector. These documents help interpret users’ Holland personality results and connect them with suitable digital career paths and skills based on the Saudi Digital Skills Framework."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        480,
        1056
      ],
      "id": "23ba6b83-1cba-473c-baa2-60e8f3d61df3",
      "name": "Answer questions with a vector store1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        368,
        1408
      ],
      "id": "96b2829c-7ec1-4926-bd4e-faa5999bf989",
      "name": "Embeddings Google Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "Af4U9F9wrP7ASvHJ",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        32,
        880
      ],
      "id": "d792bf0b-02ce-4db3-9927-3f6c1ba2c9bc",
      "name": "When chat message received",
      "webhookId": "a13f6c84-61ca-4050-896f-f1e40ee3cebd"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an AI assistant specialized in interpreting Holland RIASEC personality results for careers in the digital and technology sector.\n\nYour task is to briefly analyze the user’s Holland personality type and explain what it means in the context of technology and digital careers.\n\nUse only the knowledge sources provided:\nHolland RIASEC personality descriptions and the Saudi Digital Skills Framework.\n\nWhen interpreting the personality types, adapt the explanation to technology-related environments such as software development, data analysis, cybersecurity, digital design, and technical systems. Avoid examples related to farming, animals, or non-technical environments.\n\nProvide a concise interpretation of the user’s top Holland types.\nThe analysis should be short and clear (about 3–5 lines).\n\nFocus on:\n • the main personality traits\n • the user’s working style\n • how these traits fit technology-related roles.\n\nDo not provide long explanations, lists, or unnecessary details.\nIf the information is not available in the knowledge sources, state that there is insufficient data.\n\nReturn only a short professional interpretation of the personality."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        240,
        880
      ],
      "id": "5ffa8e63-0a63-4502-addf-e2b178f47950",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        112,
        1088
      ],
      "id": "63a83c1b-c5fe-473a-b10e-aa2ad17e4e51",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "Af4U9F9wrP7ASvHJ",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        1088
      ],
      "id": "d2a1fac6-1b21-4e3c-9af6-7717300a35a1",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1AbQj9UkLnUAIQix01sZSmOLJu2lVBb_a",
          "mode": "list",
          "cachedResultName": "agent",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1AbQj9UkLnUAIQix01sZSmOLJu2lVBb_a"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        288,
        96
      ],
      "id": "bf2d23ad-72f1-49c4-b709-94fa3f2f2ee6",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LMyyNU1YZ4umJg4v",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        496,
        96
      ],
      "id": "3f4a77e6-426e-4eb0-9774-443f6914ffce",
      "name": "Download file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LMyyNU1YZ4umJg4v",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "v3n8n",
          "mode": "list",
          "cachedResultName": "v3n8n"
        },
        "embeddingBatchSize": 1,
        "options": {
          "pineconeNamespace": "v2n8n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        656,
        96
      ],
      "id": "3c528a35-2dd2-4ce1-bce7-a9748327e73a",
      "name": "Pinecone Vector Store4",
      "credentials": {
        "pineconeApi": {
          "id": "1mFb5UcqJqY4I7be",
          "name": "PineconeApi account 5"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "v2n8n",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        832,
        288
      ],
      "id": "c3f450e6-719a-4284-8396-d011a2f3cfac",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "modelName": "=models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        656,
        272
      ],
      "id": "406f87ab-362a-4a45-ad98-49c1a73d9688",
      "name": "Embeddings Google Gemini4",
      "credentials": {
        "googlePalmApi": {
          "id": "RUWuItT0JWOQ9ggm",
          "name": "Google Gemini(PaLM) Api account 34"
        }
      }
    },
    {
      "parameters": {
        "content": "# Knowledge Base",
        "height": 576,
        "width": 992
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0999eb9b-9683-4b1b-af4a-23e8d173fd76",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "v2n8n",
          "mode": "list",
          "cachedResultName": "v2n8n"
        },
        "options": {
          "pineconeNamespace": "v2n8n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        336,
        1248
      ],
      "id": "1328ae4f-fa08-41fc-9179-b370d10b36f7",
      "name": "Pinecone Vector Store5",
      "credentials": {
        "pineconeApi": {
          "id": "1mFb5UcqJqY4I7be",
          "name": "PineconeApi account 5"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        720,
        1216
      ],
      "id": "c945b45f-49e2-44c4-83fc-1edbeb654c00",
      "name": "Google Gemini Chat Model6",
      "credentials": {
        "googlePalmApi": {
          "id": "Af4U9F9wrP7ASvHJ",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "content": "#   Knowledge تجريب",
        "height": 912,
        "width": 912
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        720
      ],
      "id": "e710a480-3ac8-46a8-b26e-12415770384c",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1HmvIbIEqXyY-Ma8g5nVw5wcksJZtdnVK",
          "mode": "list",
          "cachedResultName": "plan",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1HmvIbIEqXyY-Ma8g5nVw5wcksJZtdnVK"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        1488,
        1536
      ],
      "id": "305b8531-f05c-4c80-9564-5b0b9c19601a",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WPFY6ZviCD2APVem",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1696,
        1536
      ],
      "id": "6dd65c8d-706f-4226-835c-53e69a3dea28",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WPFY6ZviCD2APVem",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "v3n8n",
          "mode": "list",
          "cachedResultName": "v3n8n"
        },
        "embeddingBatchSize": 1,
        "options": {
          "pineconeNamespace": "plan"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1856,
        1536
      ],
      "id": "18a6f4f2-2884-48c2-bf7d-edb81cff39da",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "1mFb5UcqJqY4I7be",
          "name": "PineconeApi account 5"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "v3n8n",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2016,
        1712
      ],
      "id": "27900671-d32b-4927-95a8-6499d8b4b61a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2-preview"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1824,
        1712
      ],
      "id": "034d6cb8-616c-4e50-b3a7-d566e87fe6fb",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "aBIpjhS2OmtPI8zh",
          "name": "Google Gemini(PaLM) Api account 18"
        }
      }
    },
    {
      "parameters": {
        "content": "# knlowledge Base",
        "height": 400,
        "width": 736
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        1440
      ],
      "id": "3d12a0fe-fa11-4048-b463-1cef79d14530",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store5",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store4",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini4": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store4",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store5": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5509606f-fc1c-4fc1-8a3f-d83f155c4eca",
  "meta": {
    "instanceId": "4fbdf62ca3be1cee31704da69a1f97b7c6264acea72497f5513a9513e38779ef"
  },
  "id": "EVKj8gPxajrGv0GhIytO3",
  "tags": []
}