guideme/n8n/GuideMe Chat Agent ً.json
{
  "name": "Assistant",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ABtlipurKjxn184ifCAfmeRedKZP0d8s",
          "mode": "list",
          "cachedResultName": "chat",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ABtlipurKjxn184ifCAfmeRedKZP0d8s"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "09f00cef-6361-4e1b-b638-1e06a95ae452",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LMyyNU1YZ4umJg4v",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ABtlipurKjxn184ifCAfmeRedKZP0d8s",
          "mode": "list",
          "cachedResultName": "chat",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ABtlipurKjxn184ifCAfmeRedKZP0d8s"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "e3fe61ec-7fae-4613-9658-9af6910bd3ad",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dzIYjs3o3FFR3GLA",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf",
              "drawingsToFormat": "application/pdf",
              "slidesToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        480,
        112
      ],
      "id": "51c59048-d611-42a7-af55-87ef9b2bc942",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dzIYjs3o3FFR3GLA",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1ABtlipurKjxn184ifCAfmeRedKZP0d8s",
            "mode": "list",
            "cachedResultName": "chat",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1ABtlipurKjxn184ifCAfmeRedKZP0d8s"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        112
      ],
      "id": "09f7c369-14d5-40bf-a6e0-27da89005f3f",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "dzIYjs3o3FFR3GLA",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "v5n8n",
          "mode": "list",
          "cachedResultName": "v5n8n"
        },
        "embeddingBatchSize": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        688,
        112
      ],
      "id": "97c81663-055d-4f1e-aa8e-c6cc776491dc",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "Uswtk0CLYoosxcOj",
          "name": "PineconeApi account 4"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2-preview"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        672,
        288
      ],
      "id": "44788f64-fd08-496a-868f-3e12c8b4782e",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "wobiGzlPxFKQRAXx",
          "name": "Google Gemini(PaLM) Api account 31"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "splitPages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        832,
        288
      ],
      "id": "8d87a332-93b1-4791-9d64-da802e6d1fd6",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        880,
        432
      ],
      "id": "bbe81fc1-c53f-4d83-8d97-4713600efb9b",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are GuideMe Assistant, an AI career guidance assistant for IT students and fresh graduates.\n\nYour role:\n- Help users explore IT careers\n- Explain skills in a simple way\n- Suggest useful learning resources\n- Guide users step by step\n\nInstructions:\n- Be friendly, clear, and supportive\n- Use simple and easy-to-understand language\n- Keep answers organized and not too long\n- Support both Arabic and English\n- If the user writes in Arabic, reply in Arabic\n- If the user writes in English, reply in English\n- Focus mainly on IT careers, skills, and learning paths\n- Use the provided knowledge when it is relevant\n- You may give helpful extra suggestions when needed\n- If something is unclear, ask a short follow-up question\n\nGuideMe context:\nGuideMe is a career guidance system that helps users understand their skills, explore suitable IT career paths, identify skill gaps, and improve through learning resources. \n\nResponse style:\n\nWhen answering, try to organize your answer like this:\n\n1. Short introduction\n2. Main content (skills, careers, or explanation)\n3. Suggested learning resources (if relevant)\n4. Optional tip or next step\n\nKeep the structure simple and clean.\nUse bullet points when helpful.\n\nGuideMe behavior:\n\n- When a user asks about a skill:\n  → Explain the skill\n  → Mention where it is used (careers)\n  → Suggest how to learn it\n\n- When a user asks about a career:\n  → Describe the career\n  → List key required skills\n  → Suggest what to learn first\n\n- When a user says their skills:\n  → Suggest suitable careers\n  → Mention missing skills (skill gap)\n\n- Always try to guide the user toward a clear next step\n\nIf helpful, ask one short follow-up question to better guide the user."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        288,
        672
      ],
      "id": "8f862e03-0493-44b3-965f-4787f1bd6e03",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "test-session"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        304,
        880
      ],
      "id": "de6cf251-645c-4b7f-ab43-653b44adad68",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "v5n8n",
          "mode": "list",
          "cachedResultName": "v5n8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        256,
        1056
      ],
      "id": "820c345a-d4c2-43e6-90ff-75decd5eaddd",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "Uswtk0CLYoosxcOj",
          "name": "PineconeApi account 4"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2-preview"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        1200
      ],
      "id": "f9680f06-f8fb-4b7b-900e-c88a8b911078",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "QhBbxtxGiXjqWTPr",
          "name": "Google Gemini(PaLM) Api account 32"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        640,
        1088
      ],
      "id": "d162466a-3ade-4005-980a-a57e19cab14c",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "QhBbxtxGiXjqWTPr",
          "name": "Google Gemini(PaLM) Api account 32"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "guideme-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        32,
        672
      ],
      "id": "edcf2941-4b31-40d3-8cf2-1560a43ff8f3",
      "name": "Webhook",
      "webhookId": "b0c0a985-ac66-4482-b8ba-0f09c4ad66d4"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { reply: $json.output } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        688,
        672
      ],
      "id": "46a96f6c-249f-48f4-850a-167adb9ace68",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "description": "This vector store contains knowledge about the GuideMe system, including:\n\n- IT careers (roles, categories, required skills, tools)\n- Skills explanations (what each skill is, why it matters, where it is used)\n- Learning resources (YouTube playlists, online courses)\n- FAQ about the system (how it works, features, usage)\n- System flow and functionality (career suggestions, skill gap analysis, learning plans)\n\nThe data is designed for beginner-friendly career guidance in IT.\nThe assistant should use this data to answer user questions, suggest careers, explain skills, and recommend learning resources."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        512,
        896
      ],
      "id": "c8ac81ec-9d95-48dc-9fec-3258f1d951eb",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        160,
        928
      ],
      "id": "48ff0452-544c-48bd-b0fb-4710ba8eef7b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "QhBbxtxGiXjqWTPr",
          "name": "Google Gemini(PaLM) Api account 32"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "87e72d22-6d3f-4b50-85e1-f4d3c76a29db",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4fbdf62ca3be1cee31704da69a1f97b7c6264acea72497f5513a9513e38779ef"
  },
  "id": "e047cVXrKi4AK4YsROi1I",
  "tags": []
}